In [15]:
import pandas as pd
import seaborn as sns

In [16]:
df=pd.read_csv("titanic.csv")

In [17]:
df2=df[['Survived', 'Pclass', 'Age', 'Parch']]
df3=df2.fillna(df.mean())
df3

     Survived  Pclass        Age  Parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [5]:
X=df3.drop("Survived", axis=1) # in write matrix for target var
y=df3["Survived"] # in vector of y ML
print("Shape of X = ", X.shape)
print("Shape of y = ", y.shape)

Shape of X =  (891, 3)
Shape of y =  (891,)

In [8]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=40)
print("Shape of X_tarin = ", X_train.shape)
print("Shape of y_train = ", y_train.shape)
print("Shape of X_test = ", X_test.shape)
print("Shape of y_test = ", y_test.shape)

Shape of X_tarin =  (623, 3)
Shape of y_train =  (623,)
Shape of X_test =  (268, 3)
Shape of y_test =  (268,)

In [66]:
X_train

     Pclass   Age  Parch
442       3  25.0      0
145       2  19.0      1
710       1  24.0      0
833       3  23.0      0
112       3  22.0      0
..      ...   ...    ...
440       2  45.0      1
165       3   9.0      2
7         3   2.0      1
219       2  30.0      0
326       3  61.0      0

[623 rows x 3 columns]